body {
  
  overflow-x: hidden;
 
}
@font-face {
  font-family: 'Gotham';
  src: url('../Gotham-Font/GothamMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: #fff;
  
}
.btn{
  color: #ffff;
  font-weight: 600;
  font-size: 15px;
  border-radius: 15px;
  margin-left: 5rem;

}

@media (max-width: 991.98px) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      width: 100%;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
      
    }
    
    .navbar-nav {
      flex-direction: column;
      
    }
    
    .nav-item {
      margin: 0;
    }
    
    .navbar-toggler {
      position: absolute;
      left: 1rem;
    }
    .navbar-brand{
      margin-left: 1rem;
    }
  }
  /*whatsapp*/

  
 /*slider*/
 .slider {
  position: relative;
  
  
}

.slider-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  margin-top: 10px;
}

/*slide content*/
.slide {
  position: relative;
  
}
.slide-content {
  font-family: 'GothamMedium';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.slide:hover .slide-content {
  opacity: 1;
}
.slide h2 {
  font-family: 'GothamMedium';
  font-size: 2em;
  margin: 0 0 10px;
}
.slide p {
  font-family: 'GothamMedium';
  margin: 0 0 20px;
}
.slide button {
  background-color: rgb(255,130,60);
  color: #ffff;
  font-size: 1.2em;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


/*content slide kedua*/

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
 
}

.img2 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-align: left;
  padding-bottom: 20px;
}

.dsc2 {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
  text-align: left;
  
}
@media (max-width: 767px) {
  /* Konfigurasi CSS untuk tampilan mobile */
  .slide {
    margin-top: 1rem;

  }
  .slide h2 {
    font-size: 10px;
  }
  
  .slide p {
    font-size: 9px;
  }
  .slide button {
    font-size: 10px;
    padding: 8px 16px;
  }
}

/*content and card*/

.title{
    text-align: center;
    color:#FF77A9;
    font-weight: bold;
    font-family: 'GothamMedium';
    margin-top: 20px;
    margin-bottom: 30px;

}
.why-privat{
  margin: 0;
  padding: 0.5rem 0;
  background: url(../img/background_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: -50px;
  
}
.card-why-privat h3 {
  text-align: left;
  font-family: 'GothamMedium';
}

.card-why-privat p {
  text-align: left;
  font-family: 'GothamMedium';
}

div.page-center{
  position: relative;
}
.why-privat-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center ;

}
.card-why-privat{
  background: #ffff;
  border-radius: 20px;
  box-shadow: 0 24px 104px rgb(3,67,64/8%);
  padding: 20px;
  width: 384px;
}
.card-why-privat:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}
.why-privat, btn-pesan{
  text-align: center;
  font-family: 'GothamMedium';
 
  
}
.btn-pesan{
  
  color: #ffff;
  border-radius: 20rem;
  margin-top: 20px;
  
}
@media (max-width: 600px) {
  .card-why-privat {
    margin:20px 10px;
    width: 100%;
  }
}

.btn-pesan{
  
  text-align: center;
  
}
/*end content and card*/

/*HERO*/
.hero-section {
  background-image: url(../img/bg-mapel.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0px;
  color: #33272a;
  padding: 5rem;
  margin-bottom: 20px;
  text-align: center;
}

.hero-mapel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.card-mapel {
  position: relative;
  width: 100%;
  max-width: 300px;
  
}

.card-mapel img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.card-mapel .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.card-mapel:hover img {
  opacity: 0.8;
  }
  
  .card-mapel:hover .centered {
  opacity: 1;
  }

@media only screen and (max-width: 768px) {
  .card-mapel .centered {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .card-mapel .centered {
    font-size: 14px;
  }
}


/*END HERO*/

.invite-friend {
  width: 100%;
}

.container-bg-invite {
  background-image: url(../img/bg-invite.png);
  background-size: cover;
  padding: 1rem;
  margin: 4rem 4rem;
  border-radius: 2rem;
}

.container-invite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.asset-invite {
  margin: 1rem;
}

.asset-invite img {
  width: 350px;
  height: auto 20px;
  margin-left: 8rem;

}

.asset-invite h3 {
  margin-bottom: 0.5rem;
  margin-right: 9rem;
  color: #33272a;
}

.btn-invite {
  background-color:  #FF77A9;
  text-align: center;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 9rem;
  margin-top: 0.5rem;
}

.btn-invite a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  /* adjust styles for tablet screens */
  .container-invite {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .asset-invite img {
    margin: 1rem 0;
    width: 100%;
    
  }
  
  .asset-invite h3 {
    margin-right: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .btn-invite {
    margin: 1rem 0 0;
  }
}

@media (max-width: 576px) {
  /* adjust styles for mobile screens */
  .container-bg-invite {
    margin: 2rem;
  }
  
  .asset-invite h3 {
    font-size: 1.2rem;
  }
  
  .btn-invite {
    margin: 1rem auto 0;
    display: block;
  }
}
/*product*/
.btn-product {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn-product:hover {
  background-color: #ff69b4;
}
  
.container-product{
  background: #ffff;
  border-radius: 10px;
  position: relative;
  margin: auto;
  width: 100%;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

                                                  /*Subject-study*/
/* CSS untuk judul halaman */
.subject-container{
  background-image: url(../img/bg-lihat-mapel.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 115vh;
  position: relative;
 
  
}
.subject{
  float: none;
  margin: auto;
}
.content-subject{
  background: #ffff;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgb(0 0 0 /5%);
  position: relative;
  z-index: 2;
  margin: auto;
  width: 80%;
  top: 7rem;
  
}
.title-subject {
  top: 30px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}
.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
.accordion-button:focus,
.accordion-button:active {
  color: #FF77A9;
}

/* style untuk accordion */
.subject-accordion {
  margin-top: 2rem;
}

/* style untuk header dari setiap accordion item */
.accordion-header {
  background-color: #f5f5f5;
  border: none;
}

/* style untuk judul accordion */
.accordion-button {
  color: #333;
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
}

/* style untuk accordion body */
.accordion-body {
  background-color: #fff;
  border: none;
  padding: 1rem;
}
.accordion-item {
  border: none;
}
/*section review*/

.slide button {
  background-color: transparent;
  
}
.testi-title{
  text-align: center;
  font-weight: 600;
  font-size: 20px;

}
.status{
  font-size: 20px;
  color: #8d8d8d;
  
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 14px;

}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay-testi{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #4070F4;
  padding: 3px;

}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
/*footer*/
body{margin-top:20px;}
.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    color:#ffff;
-webkit-box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding:60px;
}
.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}
.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
   
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}
.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd;
}
.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
    margin-top: 2rem;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
}
.footer_social_area a i {
    line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #ffffff;
}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
ol li, ul li {
    list-style: none;
}

ol, ul {
    margin: 0;
    padding: 0;
}